<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IPL Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="plugins/morris/morris.css">
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap4.css">


    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="plugins/morris/morris.min.js"></script>
    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="plugins/knob/jquery.knob.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="plugins/fastclick/fastclick.js"></script>
    <script src="dist/js/adminlte.js"></script>
    <script src="dist/js/pages/dashboard.js"></script>
    <script src="dist/js/demo.js"></script>
    <script src="plugins/datatables/jquery.dataTables.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.js"></script>

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/dashboard" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin IPL</span>
            </a>


            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="/permintaan" class="nav-link">
                                <i class="nav-icon fa fa-sticky-note-o"></i>
                                <p>
                                    Surat Permintaan
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/perintah_kerja" class="nav-link">
                                <i class="nav-icon fa fa-sticky-note-o"></i>
                                <p>
                                    Surat Perintah Kerja
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">
                                <i class="nav-icon fa fa-sign-out"></i>
                                <p>
                                    Logout
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            </br>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <div class="small-box bg-primary">
                                <div class="inner">
                                    <h3 id="tahun_ini">150</h3>
                                    <p>Permintaan Tahun Ini</p>
                                </div>
                                <div class="icon" style="margin-top: 6px">
                                    <i class="ion ion-document"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-6">
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3 id="bulan_ini">0</h3>
                                    <p>Permintaan Bulan Ini</p>
                                </div>
                                <div class="icon" style="margin-top: 6px">
                                    <i class="ion ion-document"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-6">
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3 id="hari_ini">0</h3>
                                    <p>Permintaan Hari Ini</p>
                                </div>
                                <div class="icon" style="margin-top: 6px">
                                    <i class="ion ion-document"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <select id="divisi" class="form-control">
                                <option value="" class="btn">-- Divisi --</option>
                                <option value="ITIKOM" class="btn">ITIKOM</option>
                            </select>
                        </div>
                        <div class="col-lg-2 form-group">
                            <input class="form-control" placeholder="Tahun.." id="tahun">
                        </div>
                        <div class="col-lg-2 form-group">
                            <select id="bulan" class="form-control">
                                <option value="" class="btn">-- Bulan --</option>
                                <option value="01" class="btn">januari</option>
                                <option value="02" class="btn">februari</option>
                                <option value="03" class="btn">maret</option>
                                <option value="04" class="btn">april</option>
                                <option value="05" class="btn">mei</option>
                                <option value="06" class="btn">juni</option>
                                <option value="07" class="btn">juli</option>
                                <option value="08" class="btn">agustus</option>
                                <option value="09" class="btn">september</option>
                                <option value="10" class="btn">oktober</option>
                                <option value="11" class="btn">november</option>
                                <option value="12" class="btn">desember</option>
                            </select>
                        </div>
                        <div class="col-lg-2 form-group">
                            <input class="form-control" placeholder="Tanggal.." id="tanggal">
                        </div>
                        <div class="col-lg-2 form-group">
                            <button class="form-control bg-success" onClick="search_proccess()">Search</button>
                        </div>
                        <div class="col-lg-12 col-6">
                            <table id="" class="table table-sm">
                                <thead class="bg-warning">
                                    <tr>
                                        <th>Subject</th>
                                        <th>Rata - rata</th>
                                    </tr>
                                </thead>
                                <tbody id="table_pencarian">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div id="notif_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <script>
            var page
            $(document).ready(function () {

                page = $.ajax({
                    url: '/dashboard/data',
                    header: {
                        "Content-type": "applocation/json"
                    },
                    dataType: "json",
                    success: function (response) {
                        $('#tahun_ini').html(response.tahun_ini);
                        $('#bulan_ini').html(response.bulan_ini);
                        $('#hari_ini').html(response.hari_ini);
                    },
                    error: function () {
                        $('#tahun_ini').html('0');
                        $('#bulan_ini').html('0');
                        $('#hari_ini').html('0');
                    },
                    timeout: 15000
                })


                $('.datepick').datepicker({
                    autoclose: true,
                    format: "yyyy-mm-dd",
                    todayHighlight: true,
                    orientation: "top auto",
                    todayBtn: true,
                    todayHighlight: true,
                });

            });

            function search_proccess() {
                var divisi_val = $('#divisi').val();
                var tahun_val = $('#tahun').val();
                var bulan_val = $('#bulan').val();
                var tanggal_val = $('#tanggal').val();
                
                var url = '/dashboard/find/' + divisi_val + '/' + tahun_val 

                if(bulan_val != ''){  
                    url = '/dashboard/find/' + divisi_val + '/' + tahun_val + '/' + bulan_val;
                }
                if(tanggal_val != '' ){
                    url = '/dashboard/find/' + divisi_val + '/' + tahun_val + '/' + bulan_val + '/' + tanggal_val;
                }

                $('#notif_modal').modal('show')
                $("#notif_modal div div div").html('proses mencari');
                
                $.ajax({
                    url: url,
                    header: {
                        "Content-type": "applocation/json"
                    },
                    dataType: "json",
                    success: function (response) {

                        var rata_rata_diterima_dikerjakan = response.rata_rata_diterima_dikerjakan
                        var rata_rata_dikerjakan_selesai = response.rata_rata_dikerjakan_selesai;
                        var selesai = response.selesai;
                        var dikerjakan = response.dikerjakan;
                        var i;
                        var isi_table = '';
                        
                        isi_table = isi_table + '<tr>';
                        isi_table = isi_table + '<td>Response diterima - dikerjakan</td>';
    
                        if(rata_rata_diterima_dikerjakan != null){
                            isi_table = isi_table + '<td>' + rata_rata_diterima_dikerjakan + ' menit</td>';
                        }else{
                            isi_table = isi_table + '<td> belum ada </td>';
                        }
    
                        isi_table = isi_table + '</tr>';
                        isi_table = isi_table + '<tr>';
                        isi_table = isi_table + '<td>Response dikerjakan - selesai</td>';
                        
                        if(rata_rata_dikerjakan_selesai != null){
                            isi_table = isi_table + '<td>' + rata_rata_dikerjakan_selesai + ' menit</td>';
                        }else{
                            isi_table = isi_table + '<td> belum ada </td>';
                        }
                        
                        isi_table = isi_table + '</tr>';
                        isi_table = isi_table + '<tr>';
                        isi_table = isi_table + '<td>Selesai</td>';
                        isi_table = isi_table + '<td>' + selesai + '</td>';
                        isi_table = isi_table + '</tr>';
                        isi_table = isi_table + '<tr>';
                        isi_table = isi_table + '<td>Dikerjakan</td>';
                        isi_table = isi_table + '<td>' + dikerjakan + '</td>';
                        isi_table = isi_table + '</tr>';
                        
                        $('#table_pencarian').html(isi_table)
                        $("#notif_modal div div div").html('sukses mencari');
                        setTimeout(function () {
                            $('#notif_modal').modal('hide');
                        }, 1500);
                    },
                    error: function () {
                        setTimeout(function () {
                            $("#notif_modal div div div").html('gagal mencari');
                            $('#notif_modal').modal('hide');
                        }, 1500);
                    },
                    timeout : 15000
                })
            }
        </script>


        <footer class="main-footer">
            <strong>Copyright &copy; 2018 - forever
                <a href="#">IPL-Dev</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Ver</b> 1.0.0-alpha
            </div>
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>

</body>

</html>