<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IPL Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/src/assets/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/src/assets/plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="/src/assets/plugins/morris/morris.css">
    <link rel="stylesheet" href="/src/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="/src/assets/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/src/assets/plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/src/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .logonemasakin {
            max-width: 100%;
            height: auto;
        }
    </style>

</head>

<body>
    <center>
        </br>
        <div class="col-md-4">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">IPL Admin Login</h3>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="form-group">
                            <img class="img-fluid" src="/src/assets/img/logobaru.png" alt="IPL Logo">
                        </div>
                        <div class="form-group">
                            <input type="username" id="username" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        </div>
                    </form>
                    <div class="form-group">
                        <button id="button_login" type="submit" class="btn btn-danger" onClick="button_login()">Login</button>
                    </div>
                    <label id="pesan">Masukkan email dan password yang sesuai</label>
                </div>
            </div>
        </div>
        <label> Copyright &copy; by
            <a href="http://filkom.ub.ac.id/">PKL UB IF'15 </a> Since 2018 - Forever. All rights reserved</label>
    </center>

    <script src="/src/assets/plugins/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#username').keypress(function (e) {
                if (e.keyCode == 13) {
                    button_login();
                }
            });
            $('#password').keypress(function (e) {
                if (e.keyCode == 13) {
                    button_login();
                }
            });
        });

        function button_login() {
            $('#button_login').html('..wait..');
            $('#button_login').attr('disabled', true);

            $.ajax({
                url: '/authentication/proccess',
                header: {
                    'content-type': 'application/json'
                },
                type: 'post',
                dataType: 'json',
                data: {
                    'username': $('#username').val(),
                    'password': $('#password').val()
                },
                success: function (response) {
                    if (!response.status) {
                        $('#pesan').html('Email dan password tidak cocok');
                        $('#pesan').css('color', 'red')
                        $('#button_login').attr('disabled', false);
                        $('#button_login').html('Login');
                    } else {
                        document.cookie = 'token=' + response.token;
                        window.open('/', '_self');
                    }
                },
                error: function (e) {
                    $('#pesan').html('Koneksi error...');
                    $('#pesan').css('color', 'red')
                    $('#button_login').attr('disabled', false);
                    $('#button_login').html('Login');
                }
            });
        }
    </script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
</body>

</html>