<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IPL Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="plugins/morris/morris.css">
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap4.css">

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="plugins/morris/morris.min.js"></script>
    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="plugins/knob/jquery.knob.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="plugins/fastclick/fastclick.js"></script>
    <script src="dist/js/adminlte.js"></script>
    <script src="dist/js/pages/dashboard.js"></script>
    <script src="dist/js/demo.js"></script>
    <script src="plugins/datatables/jquery.dataTables.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.js"></script>

    <style>
        /* .flex-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
            } */

        .form-group {
            display: flex;
            flex-direction: row;
        }

        div.form-group>label.control-label {
            display: inline-block;
            flex-direction: row;
            justify-content: left;
        }

        div.form-group>span {
            margin-left: 5%;
        }

        div.form-ubah>input.form-control,
        div.form-ubah>select.form-control {
            display: inline;
            flex-direction: row-reverse;
            margin-left: 15%;
        }
    </style>

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/dashboard" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin IPL</span>
            </a>


            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="/permintaan" class="nav-link">
                                <i class="nav-icon fa fa-apple"></i>
                                <p>
                                    Surat Permintaan
                                    <i class="right fa fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/perintah_kerja" class="nav-link">
                                <i class="nav-icon fa fa-apple"></i>
                                <p>
                                    Surat Perintah Kerja
                                    <i class="right fa fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/instalasi" class="nav-link">
                                <i class="nav-icon fa fa-apple"></i>
                                <p>
                                    Instalasi
                                    <i class="right fa fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/bidang" class="nav-link">
                                <i class="nav-icon fa fa-apple"></i>
                                <p>
                                    Bidang
                                    <i class="right fa fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/pengguna" class="nav-link">
                                <i class="nav-icon fa fa-apple"></i>
                                <p>
                                    Pengguna
                                    <i class="right fa fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="login" class="nav-link" onClick="logout()">
                                <i class="nav-icon fa fa-sign-out"></i>
                                <p>
                                    Logout
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            </br>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-12">
                            <div class="card">
                                <button class="btn btn-success" onClick="tambah_modal()"><i class="fa fa-plus"></i><span> Tambah Surat</span></button>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">pengguna</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="table_pengguna" class="table table-sm">
                                            <thead class="bg-warning">
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Kategori</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="ubah_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Ubah Surat</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-sm-8 form-ubah" hidden>
                                                <input class="form-control" id="id_pengguna_ubah">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Username</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <input class="form-control" id="username_ubah">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Kategori</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <select id="kategori_ubah" class="form-control">
                                                        <option value="admin" class="btn ">admin</option>
                                                        <option value="user" class="btn">user</option>
                                                        <option value="user ipl" class="btn">user IPL</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Password</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <input class="form-control" id="password_ubah" type="password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Conform Password</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <input class="form-control datepick" id="confirm_password_ubah" type="password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="button_save_ubah" onClick="ubah_proccess()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="tambah_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Tambah Surat</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Username</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <input class="form-control" id="username_tambah">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Kategori</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <select id="kategori_tambah" class="form-control">
                                                        <option value="admin" class="btn ">admin</option>
                                                        <option value="user" class="btn">user</option>
                                                        <option value="user ipl" class="btn">user IPL</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Password</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <input class="form-control datepick" id="password_tambah" type="password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Conform Password</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <input class="form-control datepick" id="confirm_password_tambah" type="password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="button_save_ubah" onClick="tambah_proccess()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="detail_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Detail Surat</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body">
                                            <div class="col-sm-8 form-ubah" hidden>
                                                <input class="form-control" id="id_pengguna_detail">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Username
                                                </label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <input class="form-control" id="username_detail">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Kategori</label>
                                                <span>:</span>
                                                <div class="col-sm-8 form-ubah">
                                                    <select id="kategori_detail" class="form-control">
                                                        <option value="admin" class="btn ">admin</option>
                                                        <option value="user" class="btn">user</option>
                                                        <option value="user ipl" class="btn">user IPL</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="notif_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            var table;
                            var index_detail_table = 0;

                            $(document).ready(

                                function () {
                                    table = $('#table_pengguna').DataTable({
                                        'processing': false,
                                        'serverSide': true,
                                        'ajax': {
                                            'url': '/pengguna/find',
                                            'timeout': 15000
                                        },
                                        'columnDefs': [{
                                            'targets': [-1],
                                            'orderable': false,
                                        }]
                                    });

                                    setInterval(reload_table, 4000)
                                }
                            );

                            function tambah_modal() {
                                $('#tambah_modal').modal('show');
                            }

                            function ubah_modal(id_pengguna) {

                                $.ajax({
                                    url: '/pengguna/find/' + id_pengguna,
                                    header: {
                                        "Content-type": "applocation/json"
                                    },
                                    dataType: "json",
                                    success: function (response) {
                                        $('#id_pengguna_ubah').val(response.id_pengguna);
                                        $('#username_ubah').val(response.username);
                                        $('#kategori_ubah').val(response.kategori);
                                    },
                                    error: function (err) {
                                        $('#notif_modal').modal('show');
                                        $('#notif_modal div div div').html('connection error');
                                        setTimeout(function () {
                                            $('#notif_modal').modal('hide');
                                        }, 1000);
                                    },
                                    timeout: 15000
                                })
                                $('#ubah_modal').modal('show');
                            }

                            function logout() {
                                document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                            }

                            function tambah_proccess() {
                                $('#tambah_modal').modal('hide');
                                $('#notif_modal').modal('show');

                                var status = true;

                                var bool1 = $('#username_tambah').val() == '';
                                var bool2 = $('#kategori_tambah').val() == '';
                                var bool3 = $('#password_tambah').val() == '';
                                var bool4 = $('#confirm_password_tambah').val() != $('#password_tambah').val();

                                if (bool1 || bool2 || bool3) {
                                    status = false
                                }

                                if (bool4) {
                                    status = false
                                }

                                if (status) {
                                    $.ajax({
                                        url: '/pengguna/save',
                                        header: {
                                            "Content-type": "applocation/json"
                                        },
                                        type: "post",
                                        dataType: "json",
                                        data: {
                                            'username': $('#username_tambah').val(),
                                            'kategori': $('#kategori_tambah').val(),
                                            'password': $('#password_tambah').val(),
                                        },
                                        success: function (response) {
                                            if (!response.status) {
                                                $("#notif_modal div div div").html('gagal tambah');
                                            } else {
                                                $("#notif_modal div div div").html('sukses tambah');
                                            }

                                            setTimeout(function () {
                                                $('#notif_modal').modal('hide');
                                            }, 1500);

                                            reload_table();
                                        },
                                        error: function () {
                                            $("#notif_modal div div div").html('gagal tambah');
                                            setTimeout(function () {
                                                $('#notif_modal').modal('hide');
                                            }, 1000);
                                        },
                                        timeout: 15000
                                    })
                                } else {
                                    $("#notif_modal div div div").html('detail harus terisi dengan benar');
                                    $('#notif_modal').modal('show');
                                    setTimeout(function () {
                                        $('#notif_modal').modal('hide');
                                        $('#tambah_modal').modal('hide');
                                    }, 1500);
                                }

                            }

                            function ubah_proccess() {
                                $('#ubah_modal').modal('hide');
                                $('#notif_modal').modal('show');

                                var bool1 = $('#username_ubah').val() == '';
                                var bool2 = $('#kategori_ubah').val() == '';
                                var bool4 = $('#confirm_password_ubah').val() != $('#password_ubah').val();

                                var status = true;

                                if (bool1 || bool2) {
                                    status = false;
                                    $("#notif_modal div div div").html('field harus terisi semua');
                                    setTimeout(function () {
                                        $('#notif_modal').modal('hide');
                                        $('#ubah_modal').modal('show');
                                    }, 1000);
                                }

                                if (bool4) {
                                    status = false
                                    $("#notif_modal div div div").html('password tidak cocok');
                                    setTimeout(function () {
                                        $('#notif_modal').modal('hide');
                                        $('#ubah_modal').modal('show');
                                    }, 1000);
                                }

                                if (status) {
                                    $.ajax({
                                        url: '/pengguna/update/' + $('#id_pengguna_ubah').val(),
                                        header: {
                                            "Content-type": "applocation/json"
                                        },
                                        type: "post",
                                        dataType: "json",
                                        data: {
                                            'username': $('#username_ubah').val(),
                                            'kategori': $('#kategori_ubah').val(),
                                            'password': $('#password_ubah').val(),
                                        },
                                        success: function (response) {
                                            if (!response.status) {
                                                $("#notif_modal div div div").html('gagal ubah');
                                            } else {
                                                $("#notif_modal div div div").html('sukses ubah');
                                            }

                                            setTimeout(function () {
                                                $('#notif_modal').modal('hide');
                                            }, 1000);

                                            reload_table();
                                        },
                                        error: function () {
                                            $("#notif_modal div div div").html('gagal ubah');
                                            setTimeout(function () {
                                                $('#notif_modal').modal('hide');
                                            }, 1000);
                                        },
                                        timeout: 15000
                                    })
                                } else {
                                    $('#notif_modal div div div').html('detail harus terisi dengan benar');
                                    $('#notif_modal').modal('show');
                                    setTimeout(function () {
                                        $('#notif_modal').modal('hide');
                                        $('#ubah_modal').modal('hide');
                                    }, 1500);
                                }

                            }

                            function detail_modal(id_pengguna) {

                                var id_bidang = '';
                                var id_instalasi = '';

                                $.ajax({
                                    url: '/pengguna/find/' + id_pengguna,
                                    header: {
                                        "Content-type": "applocation/json"
                                    },
                                    dataType: "json",
                                    success: function (response) {
                                        $('#username_detail').val(response.username);
                                        $('#kategori_detail').val(response.kategori);
                                        $('#password_detail').val(response.password);
                                    },
                                    error: function (err) {

                                    },
                                    timeout: 15000
                                })

                                $('#detail_modal').modal('show');
                            }

                            function reload_table() {
                                table.ajax.reload(null, false)
                            }
                        </script>


                    </div>
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2018 - forever
                <a href="/">PKL RSSA</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Ver</b> 1.0.0-alpha
            </div>
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>

</body>

</html>